body{
    background: #444;
    
}
#main-footer {
    p{
        .span-footr2 {
            color: rgb(211, 26, 26);
        }
        .span-footr1{
            color:red ;
        }
    }
}
    
    
